<h1>Documentation</h1>
<hr>
<div class="">
	<div class="">
		<h2>Data Entry</h2>
			<h3 style="margin-left: 3vw;">New Job</h3>
				<h4 style="margin-left: 6vw;">Format</h4>
				<h4 style="margin-left: 6vw;">Status</h4>
					<p>Not started, in progress, and completed. Used for sorting, planning and filtering.</p>
				<h4 style="margin-left: 6vw;">Priority</h4>
					<p>High, none, and low. Used for sorting and planning.</p>
				<h4 style="margin-left: 6vw;">Categories</h4>
					<p>Categories applied at this stage are automatically added to future calendar entries for this job.
						Always set '00 - Job'
						Then set next most common job sub-category (workshop, drawing, site, etc.)
						Then main employee to be working on this job.
						Then any other categories that will be frequently selected (easy to turn off and on upon calendar entry, so just for efficiency).
					</p>
				<h4 style="margin-left: 6vw;">Notes</h4>
					<p>Add any initial notes in the body of the Job being created. Does this then get dragged into all entries? Any better method, here?</p>
			<h3 style="margin-left: 3vw;">New Customer</h3>
				<p>Customer currently just pulled from job subject, split on '-'. Due a rework.</p>
			<h3 style="margin-left: 3vw;">Calendar Entry</h3>
			<h3 style="margin-left: 3vw;">Materials</h3>
				<p><strong>TBD</strong></p>
				<p>idea: to add in the description of a calendar entry under the job - then clearly visible at time of generating a bill; but might come with data processing issues</p>
			<h3 style="margin-left: 3vw;">Job Notes</h3>
			<h3 style="margin-left: 3vw;">Job Midway Invoice</h3>
				<p>idea: new category for this - then add a calendar entry for 'billed until/billed amount/billed hours' - can then use this as a data point</p>
	</div>
	<hr>
	<div class="">
		<h2>Outlook Setup</h2>
			<h3 style="margin-left: 3vw;">Calendar View</h3>
				<h4>Tasks Bar</h4>
					<p>View > Layout > To-do Bar > Tasks</p>
	</div>
	<hr>
	<div class="">
		<h2>Data Output</h2>
			<h3 style="margin-left: 3vw;">Job Hours</h3>
	</div>
	<hr>
	<div class="">
		<h2>Development Notes</h2>
			<h3 style="margin-left: 3vw;">Categories Rework</h3>
	</div>
</div>
