<h1 class="mb-3" style="padding-top: 20px">Jobs</h1>

{{#each jobs}}
	<h5>{{this}}</h2>
	<!-- <p>{{this.status}}</p> -->
{{/each}}

{{#each jobs}}
	<h5>{{this.title}}</h2>
	<p>{{this.status}}</p>
{{/each}}

<p>test</p>

<p style="padding: 50px">
